body, ul {
    margin: 0;
    padding: 0;
}
a {
    color: #CAE9FF;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover {
    color: #5FA8D3;
}

#logo {
    font-size: 1.5rem;
    font-weight: bold;
}

#header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* box-shadow:5px 1px 2px 1px #404E4D; */
    background-color: #1B4965;
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a {
    display: block;
    padding: .5rem;
}

#btn-mobile {
    display: none;
    color: #CAE9FF;
    border: .1rem solid black;
    padding: .1rem;
}

@media (max-width: 600px) {
    #btn-mobile {
        display: block;
    }
    
    #menu {
       position: absolute;
       width: 100%;
       top: 70px;
       right: 0;
       display: block;
       background-color: #1B4965;
       height: 0;
       z-index: 1000;
       transition: .6s;
       visibility: hidden;
       overflow-y: hidden;
    }

    #nav.active #menu {
        display: block;
        visibility: visible;
        height: calc(100vh - 70px);
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0.5rem;
        border-bottom: 2px solid #AFBFC0;
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hambuguer {
        border-top: 2px solid;
        width: 20px;
    }

    #hambuguer::before, #hambuguer::after {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hambuguer {
        border-top-color: transparent;
    }

    #nav.active #hambuguer::before {
        transform: rotate(135deg);
    }

    #nav.active #hambuguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}